doctype html
html(lang="es")
  head
    title Tarea Express
    meta(charset="utf-8")
  body
    h1 Tarea Express
    h2 This is all data
    - each comment in data
      p= comment
    a(href = '/') Return
