doctype html
html(lang="es")
  head
    title Tarea Express
    meta(charset="utf-8")
  body
    h1 Tarea Express
    form(action="/" method="POST")
      div(class="form-group")
        label(for="data") Insert data:
        input(type="text", name="data",placeholder="add some data",class ="form-control")
        input(type="submit" value="Send" class ="btn btn-info")
    form(action="/showdata" method="GET")
      div
        input(type="submit" value="Show data" class ="btn btn-info")
